nav.navigation
  width: 100%
  height: 56px
  background: #FFF
  z-index: 9
  @include boxShadow(3px, 3px, 1px, rgba(0, 0, 0, .05))
  @include transition(all, .3s, ease-in-out)

  &.scrolling
    position: fixed
    top: 0
    background: rgba(#FFF, .6)
