@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic)

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video
  margin: 0 0 $Padding 0
  padding: 0
  border: 0
  font-size: 100%
  font: inherit
  vertical-align: baseline
  font-family: 'Open Sans', sans-serif

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section
  display: block

body, html
  width: 100%
  height: 0
  min-height: 100%
  overflow-x: hidden
  margin: 0
  line-height: 1
  background: $body-bg

ol, ul
  list-style: none

blockquote, q
  quotes: none

blockquote:before, blockquote:after,
q:before, q:after
  content: ''
  content: none

table
  border-collapse: collapse
  border-spacing: 0

a
  text-decoration: none!important
  color: inherit

.clearfix
  @include clearfix()

.noMargin
  margin: 0

.wrapper
  width: 1200px
  margin: 0 auto

.fullHeight
  height: 100%
  position: relative

.noDecoration
  text-decoration: none
  color: inherit
