@import url(https://fonts.googleapis.com/css?family=Bitter:400,400italic,700)
section.blog
  background: #FFF
  position: relative
  margin-top: -12px
  ul.blog
    li
      text-align: center
      &.post
        p
          &.dateTime
            font-weight: 600
            margin-bottom: 20px
          &.description
            text-align: justify
            max-width: 640px
            padding: 0 10px 25px 10px
            margin: 0 auto
            font: normal 300 18px/1.5em 'Open Sans',sans-serif
            position: relative
            color: #222222
            .dropCap
              font: normal 400 20px/1.25em 'Bitter', serif
              font-size: 60px
              float: left
              margin: -10px 10px -15px -2px
        img
          &.avatar
            width: 73px
            height: 73px
            display: block
            margin: 0 auto -20px auto
            border: 3px solid #FFF
            position: relative
            top: -35px
            @include borderRadius(50%)
          &.postimg
            width: 640px
            height: auto
            display: block
            margin: 26px auto 0 auto
            @include borderRadius(3px)
      &.image
        width: 100%
        height: 640px
        background-size: cover
        background-position: center
        background-attachment: fixed
        position: relative
        .wrapper
          position: relative
          height: 100%
          .center
            position: absolute
            left: 0
            right: 0
            top: 0
            bottom: 0
            height: 67px
            margin: auto
            .labels
              a
                font: normal 700 14px/1.2em 'Bitter', serif
                color: #FFF
                text-decoration: none
                margin-right: 5px
            a.title
              text-transform: capitalize
              font-size: 40px
              font-weight: 800
              text-decoration: none
              color: #FFF
        .overlay
          -webkit-transform-style: preserve-3d
          -moz-transform-style: preserve-3d
          transform-style: preserve-3d
          position: absolute
          width: 100%
          height: 100%
          background-color: rgba(0,0,0,0.25)
/*.blog
  width: 100%
  height: 675px
  ol
    float: left
    li
      position: relative
      .overlay
        width: 100%
        height: 100%
        position: absolute
        background: rgba(#000, 0.4)
    &.first
      width: 30%
      height: 100%
      li
        width: 100%
        height: 100%
    &.last
      width: 70%
      height: 100%
      li
        float: left
        height: 50%
        margin: 0
        &:first-child
          width: 100%
          float: none
        &:nth-child(2),
        &:last-child
          width: 50%*/
