.loginMessage
	width: 354px
	padding: 16px 0
	border-radius: 2px 2px 0 0
	margin: 40px auto -40px auto
	background: #5BBD68
	color: #FFF
	text-align: center
	font-size: 14px
.loginForm
	width: 274px
	padding: 40px 40px
	margin: 40px auto
	background: #FFF
	border-radius: 4px
	position: relative
	h2
		color: #5B656E
		text-align: center
	p
		font-size: 14px
		color: #B7BCC0
		text-align: center
	img
		width: 95px
		height: 95px
		display: block
		margin: 0 auto 20px auto
		border-radius: 50%
	.fa
		float: right
		margin: -52px 8px 0 0px
		font-size: 20px
		position: relative
		color: #CCC
		&.active
			color: #67DE76
		&.failed
			color: #BF3737
	input
		&[type='email'], &[type='password']
			width: 100%
			line-height: 40px
			margin-bottom: 20px
			border: 1px solid #B7BCC0
			background-color: #FFF
			text-indent: 10px
			color: #777879
			font-size: 14px
		&[type='submit']
			padding: 11px 35px
			border: none
			background: #338EB1
			border-radius: 2px
			color: #FFF