.myWork
  width: 100%
  white-space: nowrap
  li
    width: 400px!important
    height: 210px
    position: relative
    color: #FFF
    cursor: pointer
    img
      width: 100%
      height: 100%
      margin: 0
    .overlay
      width: 100%
      height: 210px
      line-height: 210px
      position: absolute
      top: 0
      left: 0
      bottom: 0
      right: 0
      text-align: center
      font-size: 24px
      @include transition(background, .3s, ease-in-out)
      &:hover
        background: rgba(#000, 0.5)
