.loader
  width: 100%
  padding: 0
  background: rgba(#FFF, .3)
  position: absolute
  span
    width: 0
    height: 3px
    background: #338EB1
    display: block
    margin: 0
section.mast
  width: 100%
  height: 350px
  background: url("../images/Mast/yFJMFzOoCd.jpg") 0 0 no-repeat fixed
  background-size: cover
  color: #FFF
  transition: background 1s linear
  @include noMargin()

  div.logo
    position: relative
    display: table
    height: 148px
    top: 35px
    margin: 0 auto 70px auto
    line-height: 148px
    padding: 0 50px
    text-align: center
    font-size: 60px
    border: 2px solid
    cursor: pointer
    @include transition(all, .3s, ease-in-out)
    &:hover
      color: #338EB1

  section.scrollEvent
    text-align: center
    text-indent: -11px
    line-height: 50px
    font-size: 24px
    i.fa
      cursor: pointer
      @include transition(all, .3s, ease-in-out)
      &:hover
        color: #338EB1
