.music
  width: 100%
  height: 45px
  background: #1D1D1D
  position: fixed
  bottom: 0
  left: 0
  right: 0
  margin: 0
  ul
    display: inline-block
    vertical-align: top
    &.timeline
      width: calc(100% - 135px)
      height: 8px
      background: #272727
      margin: 18px 0 0 0
      li
        width: 30%
        height: 100%
        background: #338EB1
    &.controls
      height: 24px
      margin: 10px
      li
        width: 24px
        height: 24px
        line-height: 24px
        text-align: center
        color: #FFF
        background: #272727
        margin: 0 5px 0 0
        cursor: pointer
        font-size: 10px
          &:last-child
            margin: 0
