ul.socialList
  width: 100%
  height: 45px
  margin: 0 auto
  position: relative
  text-align: center
  @extend .clearfix

  li
    width: 45px
    height: 45px
    color: #FFF
    border: 2px solid
    display: inline-block
    position: relative
    margin-right: 26px
    cursor: pointer
    @include transition(all, .3s, ease-in-out)
    @include borderRadius(50%)

    .fa
      width: 40px
      height: 40px
      margin: 2px
      text-align: center
      line-height: 40px
      font-size: 20px

    &:hover
      color: #338EB1
