h1
  font-size: 36px
  &.mastText
    text-align: center
    top: 65px
    position: relative
    margin-bottom: 75px
  &.title
    text-align: center
    margin-top: 50px
    color: #1c1c1c
  &:after
    content: ""
    display: block
    width: 100px
    height: 2px
    background: #338EB1
    margin: 15px auto 25px auto
h2
  font-size: 24px
h3
  font-size: 18px
h4
  font-size: 16px
h5
  font-size: 13px
h6
  font-size: 11px
p
  font-size: 16px
  &.mastText
    text-align: center
    line-height: 30px
    font-size: 20px
    margin-bottom: 35px

